/go.bat
/go_.bat
/.idea/.gitignore
/.idea/.name
/.idea/ADB Install and delete apps in Samsung A34 G5.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
